/* Defina uma cor de fundo para o cabeçalho (<header>) da cor azul. */
header {
    background-color: rgb(0, 145, 255);
}

/* Aplique uma fonte serifada para todos os títulos(ch1>, <h2>) */
h1, h2 {
    font-family: sans-serif;
}

/* Faça com que os links da barra de navegação (<nav>) fiquem em negrito. */
a {
    font-weight: bold;
}

/* Defina uma margem interna de 20 pixels para todos os elementos da classe .container. */
.container {
    padding: 20px;
}

/* Ajuste o espaçamento entre linhas para 1.5 para todo o conteúdo dentro da <section> com o id conteudo. */
#conteudo {
    line-height: 1.5;
}

