/* Defina uma cor de fundo para o cabeçalho (<header>) da cor azul. */
header {
    background-color: rgb(0, 145, 255);
}

/* Aplique uma fonte serifada para todos os títulos(ch1>, <h2>) */
h1, h2 {
    font-family: sans-serif;
}

/* Faça com que os links da barra de navegação (<nav>) fiquem em negrito. */
a {
    font-weight: bold;
}

